<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nitjsr.ojass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".Utils.Ojass"
        android:allowBackup="true"
        android:icon="@drawable/ojass_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ojass_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false"/>

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name=".Activities.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Walkthrough" android:screenOrientation="portrait" />
        <activity android:name=".Activities.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:uiOptions="splitActionBarWhenNarrow"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.FaqActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.TeamActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.GuruGyanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.AboutUs" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.MapsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EventsFolding.SubEventsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.FeedActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SponsersActivity" android:screenOrientation="portrait"/>

        <service android:name=".Utils.FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utils.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".Activities.DevelopersAcitivity"></activity>
    </application>

</manifest>