<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nitjsr.ojass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".Utils.Ojass"
        android:allowBackup="true"
        android:icon="@drawable/ojass_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ojass_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false"/>

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Walkthrough" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.FaqActivity" />
        <activity android:name=".Activities.TeamActivity" />
        <activity android:name=".Activities.GuruGyanActivity" />
        <activity android:name=".Activities.AboutUs" />
        <activity android:name=".Activities.MapsActivity" />
        <activity android:name=".EventsFolding.SubEventsActivity" />
        <activity android:name=".Activities.FeedActivity" />
        <activity android:name=".Activities.SponsersActivity"/>

        <service android:name=".Utils.FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utils.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".Activities.DevelopersAcitivity"></activity>
    </application>

</manifest>