<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nitjsr.ojass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Utils.Ojass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ojass_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Activities.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Walkthrough" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.MainActivity">

        </activity>
        <activity android:name=".Activities.FaqActivity" />
        <activity android:name=".Activities.TeamActivity" />
        <activity android:name=".Activities.GuruGyanActivity" />
        <activity android:name=".Activities.AboutUs" />
        <activity android:name=".Activities.MapsActivity" />

    </application>

</manifest>